<table bgcolor="#ddeff2" cellspacing="0" cellpadding="10" border="0" bordercolor="lightgray" width="100%">


    <tr>
        <td style="width=25%"></td>
        <td style="width:50%;">
        </td>
        <td style="width=25%"></td>
    </tr>
    
    <tr>
        <td style="width=25%"></td>
        <td style="width:50%; border-bottom: 3px solid #399abc; background-color: #4ac1db;"><center>
            <a href="{{url_for('index', _external = True)}}"><img src="https://s3.amazonaws.com/bookkeepr-test/email/bookkeepr-logo-white.png" width="50px"></a>
        </td>
        <td style="width=25%"></td>
    </tr>
    
    
    <tr>
        <td style="width=25%"></td>
        <td style="padding: 25px 25px; border-top:none; border-bottom: 3px solid #cccccc; background-color:#ffffff;" width="50%">
            <center><img src="https://s3.amazonaws.com/bookkeepr-test/email/new-user.png"></center>
            
            <h3 style="color:black;font-family:Raleway, Helvetica Neue, Helvetica, Arial, sans-serif;">Hi {{user.nickname}},</h3>
            <p style="font-family:Georgia, Times New Roman, Times, serif; color:black;">
                You have just been followed by {{follow_user.nickname}}. This is great news for you!
            </p>

                <center><a style="display: inline-block; padding: 6px 12px; margin-bottom: 0; font-size: 21px; font-weight: normal; text-decoration: none;
                  line-height: 1.42857143; text-align: center; white-space: nowrap; vertical-align: middle; cursor: pointer;
                  -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none;
                  background-image: none; border: 1px solid transparent; border-radius: 4px;   color: #333; background-color: #fff;
                  border-color: #ccc; font-family:Raleway, Helvetica Neue, Helvetica, Arial, sans-serif;" href="">Congratulations!</a></center>

                  <p style="font-family:Georgia, Times New Roman, Times, serif; margin-bottom:0px;">All the Best,</p>
                  <h3 style="color:#4ac1db; font-family:Raleway, Helvetica Neue, Helvetica, Arial, sans-serif; margin-top:0px;">The bookkeepr team</h3>
              </td>
          </tr>

          <tr>
            <td style="width=25%"></td>
            <td style="width:50%;">
            </td>
            <td style="width=25%"></td>
        </tr>


    </table>